h1 {
  text-align: center;
  color: rgb(46, 70, 208);
  font-size: 48px ;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px
}


input {
  border:2px solid rgb(78, 153, 188);
  outline: none;
  width: 250px;
  height: 40px;
  margin-left: 100px;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 10px;
}

input::placeholder {
  font-style: italic;
  font-size: 15px;
  padding:10px;
}

p {
  text-align: center;
  font-weight: 600;
}


